/*  ---------------
    DEFAULT STYLING
    ---------------   */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --darkGreen: rgb(62, 158, 120);
    --yellow: rgb(246, 236, 123);
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container{
    width: 100%;
    height: auto;
    padding: 0 15%;
}

button{
    padding: 20px 40px;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: var(--yellow);
    background-color: transparent;
}

ul {
    list-style-type: none;
}

li{
    list-style: none;
}

a{
    color: var(--yellow);
    text-decoration: none;
}

    /*  ---------------------
    FIRST SECTION STARTS HERE
    --------------------   */

.container1{
    height: 100vh;
    background: url(../images/home-1.jpg);
    background-position: center;
    background-size: cover;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.header-logo{
    display: flex;
    justify-content: center;
    align-items: top;
}

.logo{
    background: url(../images/logo.png);
    width: 250px;
    height: 52px;
}

.header-logo p{
    color: var(--darkGreen);
    font-size: 1em;
    margin-left: 30px;
    padding-top: 5px;
    cursor: pointer;
}

#header-arrow-down{
    min-width: 10px;
    min-height: 10px;
    border: solid var(--darkGreen);
    border-width: 0 3px 3px 0;
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg) translateY(-5px);
    margin-left: 23px;
}

.header-nav{
    display: flex;
    
}

.header-nav nav{
    margin-right: 10px;
}

.header-nav nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav nav ul li{
    text-transform: uppercase;
    margin: 0 10px;
}

.nav-current-section{
    color: white;
}

.vr{
    border-left: 2px solid rgba(116, 123, 129, .6);
    height: 15px;
    outline: none;
    margin: 0 15px;
}

.ordered-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ordered-services div{
    margin-top: -4px;
}

.ordered-services p{
    color: white;
    font-weight: 500;
}

.ordered-services .flex-column p{
    font-size: 15px;
    color: rgb(109, 122, 130);
}

.ordered-services span{
    color: var(--darkGreen);
}