/*  ---------------
    DEFAULT STYLING
    ---------------   */

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    color: white;
}

:root{
    --darkGreen: rgb(62, 158, 120);
    --yellow: rgb(255, 228, 114);
    --gray: rgba(116, 123, 129, .6);
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container{
    width: 100%;
    height: auto;
    padding: 0 18%;
}

button{
    padding: 15px 40px;
    border: none;
    outline: none;
    text-transform: uppercase;
    border: 3px solid var(--yellow);
    color: var(--yellow);
    background-color: transparent;
}

ul {
    list-style-type: none;
}

li{
    list-style: none;
}

a{
    color: var(--yellow);
    text-decoration: none;
}

    /*  ---------------------
    FIRST SECTION STARTS HERE
    --------------------   */


.container1{
    height: 100vh;
    background-position: center;
    background-image: url(../images/home-1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
    /* animation: 2s changeBgd infinite; */
    /* 
    animation-name: changeBgd;
    animation-duration: 13s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
    animation-direction: alternate; */
}
@keyframes changeBgd {
    0%{
        background-image: url(../images/home-1.jpg);
    }
    25%{
        background-image: url(../images/home-2.jpg);
    }
    50%{
        background-image: url(../images/home-3.jpg);
    }
    75%{
        background-image: url(../images/home-4.jpg);
    }
}


header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    padding-top: 20px;
    width: 100%;
}

.header-logo{
    display: flex;
    justify-content: center;
    align-items: top;
}

.logo{
    background: url(../images/logo.png);
    width: 250px;
    height: 52px;
}

.header-logo p{
    color: var(--darkGreen);
    font-size: 1em;
    margin-left: 30px;
    padding-top: 5px;
    cursor: pointer;
}

.arrow{
    min-width: 10px;
    min-height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.header-arrow-down{
    border: solid var(--darkGreen);
    margin-left: 23px;
    border-width: 0 3px 3px 0;
}

.header-nav{
    display: flex;
    
}

.header-nav nav{
    margin-right: 10px;
}

.header-nav nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav nav ul li{
    text-transform: uppercase;
    margin: 0 10px;
}

.nav-current-section{
    color: white;
}

.vr{
    border-left: 2px solid var(--gray);
    height: 15px;
    outline: none;
    margin: 0 15px;
}

.s1-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;
    transition: .4s;
}

.s1-content h1{
    font-weight: 200;
    font-size: 2.5em;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}

.view-all-services{
    border-radius: 6px;
    padding: 15px 25px;
    margin-top: 100px;
}

.view-all-services:hover{
    cursor: pointer;
}

.view-all-services a{
    font-weight: 500;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.view-all-services a span{
    transform: translateY(-5px) rotate(45deg);
    animation: floating .5s infinite alternate linear;
}

@keyframes floating{
    0%{
        transform: translateY(-3px) rotate(45deg);
    }
    100%{
        transform: translateY(2px) rotate(45deg);
    }
}

.ordered-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ordered-services div{
    margin-top: -4px;
}

.ordered-services p{
    color: white;
    font-weight: 500;
}

.ordered-services .flex-column p{
    font-size: 15px;
    color: rgb(109, 122, 130);
}

.ordered-services span{
    color: var(--darkGreen);
}

.flex-column{
    cursor: pointer;
}


.s1-bottom{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(47, 58, 62);
    width: 100%;
    padding: 3% 15%;
    margin-top: -160px;
}

.s1-bottom-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.s1-bottom-item img{
    margin-bottom: 15px;
}

.s1-bottom-item p{
    text-align: center;
    font-size: .9em;
}

.s1-bottom-vertical{
    border-left: 1px solid var(--gray);
    height: 150px;
    margin: 0 3%;
}

    /*  --------------------------
    CONTACT US SECTION STARTS HERE
    -------------------------   */

.container3{
    background-color: rgb(50, 167, 115);
    height: auto;
    padding: 90px 20%;
}

.contact-us-title{
    width: 100%;
    text-align: center;
}

.contact-us-title h1{
    font-size: 2.5em;
}

.contact-us-title p{
    color: rgba(255, 255, 255, .7);
}

.contact-us-content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 8%;
}

.contact-us-phone{
    width: 28%;
    margin-right: 100px;
}

.contact-us-phone p{
    margin-top: 20px;
}

#phone-img{
    width: 30px;
    transform: translateY(5px);
}

#call-us{
    color: var(--yellow);
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 6px;
}

#phone-number{
    color: rgb(28, 67, 48);
}

#email-img{
    width: 30px;
}

#email-us{
    color: var(--yellow);
    font-size: 2em;
    margin-left: 5px;
}


form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 150%;
    margin-top: 25px;
}

form input{
    margin-bottom: 35px;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    padding: 8px 13px;
    font-size: 1.3em;
    color: #fff;
    width: 75%;
}

form input:nth-child(3){
    width: 100%;
}

form input::placeholder{
    font-size: 1em;
}

form button{
    border-radius: 5px;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
}

form button img{
    margin-left: 15px;
}

    /*  ------------------------
    ABOUT US SECTION STARTS HERE
    -----------------------   */

.container4{
    background: url(../images/about-us-background.jpg);
    background-size: cover;
    background-position-y: -300px;
    background-repeat: no-repeat;
    padding: 100px 15% 120px 15%;
}

.about-us-couple{
    background: url(../images/james-and-mathilda.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 68px;
    height: 38px;
    margin-bottom: 3%;
}

.about-us-flex{
    justify-content: space-between;
    align-items: flex-start;
}

.about-us-flex h1{
    font-weight: 200;
    font-size: 3rem;
}

.about-us-right{
    width: 65%;
}

.about-us-right p:first-child{
    margin-bottom: 8%;
    font-family: 'Zilla Slab', serif;
    font-weight: 500;
}

.yours-sincerely{
    justify-content: space-between;
}

.yours-sincerely button{
    border: 3px solid var(--yellow);
    border-radius: 6px;
    padding: 15px 45px;
}

.yours-sincerely button:hover{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.yours-sincerely button a{
    font-weight: 400;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.yours-sincerely-1 p{
    font-style: italic;
}

.yours-sincerely-arrow{
    transform: rotate(-45deg);
    border: solid var(--yellow);
    border-width: 0px 2px 2px 0;
    min-width: 12px;
    min-height: 12px;
    margin-left: 15px;
}

    /*  --------------
    FOOTER STARTS HERE
    -------------   */

.container5{
    background-color: #ffffff;
    padding: 50px 15%;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright{
    justify-content: flex-start;
}

#green{
    color: var(--darkGreen);
}
